<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Lista de Livros</title>
</head>

<body>
    <header>
        <h1>Catálogo de Livros</h1>
    </header>

    <div class="box">
        <h2>Lista de Livros</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Gênero</th>
                    <th>Ano</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="livro : ${livros}">
                    <td th:text="${livro.titulo}"></td>
                    <td th:text="${livro.autor}"></td>
                    <td th:text="${livro.genero}"></td>
                    <td th:text="${livro.ano}"></td>
                    <td>
                        <a class="atualizar" th:href="@{'/atualizar/' + ${livro.id}}">Atualizar</a> |
                        <form th:action="@{'/deletar/' + ${livro.id}}" method="post" style="display:inline;">
                            <input class="atualizar" type="submit" value="Apagar">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <a class="link3" th:href="@{/}">Voltar para página principal</a>
    </div>

</body>

</html>
